.above-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
}

.right-drops {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-drops > *:not(:last-child) {
  margin-inline: 8px;
}

.count-listing {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1b1d25;
}

.custom-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #6f7383);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  -webkit-animation: s3 1s infinite linear;
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
.loading-container {
  display: flex;
  flex-direction: row;
}

.loading-container > * {
  margin-right: 8px;
}

.right-products-container {
  width: 52lvw;
  max-width: 780px;
}

@media screen and (max-width: 960px) {
  .right-products-container {
    width: 100%;
  }
  .above-products {
    padding-inline: 2%;
    margin-top: 20px;
    justify-content: flex-start;
  }
}
